/* ========== font ========== */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,700&display=swap");

/* ========== css variables ========== */
:root {
	--theme-color: #deab5f;
	--font-color: #eee;
	--bg-color: #333;
}

/* ========== utility classes ========== */
button {
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	background-color: var(--theme-color);
}

/* ========== css resets ========== */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: var(--font-color);
	background-color: var(--bg-color);
	font-family: sans-serif;
}

/* ========== navbar css ========== */
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem 4rem;
	font-weight: 600;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.586);
}

.logo {
	font-size: 2rem;
}

nav li {
	display: inline;
	list-style: none;
	margin-left: 1rem;
}

nav li a {
	text-decoration: none;
	color: var(--font-color);
	font-size: 1.2rem;
	padding-bottom: 2px;
	transition: color 0.3s;
}

nav li a:hover {
	color: var(--theme-color);
	border-bottom: 2px solid var(--theme-color);
	transform: scale(1.01);
}
