/* ========== font ========== */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,700&display=swap");

/* ========== css variables ========== */
:root {
	--theme-color: #deab5f;
	--font-color: #eee;
	--bg-color: #141414;
}

/* ========== utility classes ========== */
section {
	height: 100vh;
}

button {
	padding: 10px 20px;
	border: none;
	border-radius: 0.8rem;
	font-weight: bold;
	font-size: 1.2rem;
	cursor: pointer;
	background-color: var(--theme-color);
	color: var(--bg-color);
}

.big-start-title {
	font-size: 3.5rem;
	font-family: "Playfair Display", serif;
}

.big-start-title span {
	font-size: 4rem;
}

.big-start-title span:hover {
	color: var(--theme-color);
}

/* ========== css resets ========== */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: var(--font-color);
	background-color: var(--bg-color);
	font-family: sans-serif;
}

/* ========== navbar css ========== */
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem 4rem;
	font-weight: 600;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.586);
}

.logo {
	font-size: 2rem;
}

nav li {
	display: inline;
	list-style: none;
	margin-left: 1rem;
}

nav li a {
	text-decoration: none;
	color: var(--font-color);
	font-size: 1.2rem;
	padding-bottom: 2px;
	transition: color 0.3s;
}

nav li a:hover {
	color: var(--theme-color);
	border-bottom: 2px solid var(--theme-color);
	transform: scale(1.01);
}

/* header styling */
header {
	height: 100vh;
	background-image: url("./images/pexels-nao-triponez-129207.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* hero styling */
.hero {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 90%;
	font-family: "Playfair Display", serif;
	font-size: 1.8rem;
	word-spacing: 0.7rem;
	position: relative;
}

.invisible {
	/* background: red; */
	height: 20rem;
	margin-bottom: 2rem;
}

.main-btn {
	transform: translateY(1.5rem);
}

/* our story section styling */
.our-story {
	/* background */
	background-image: url("./images/pexels-chitokan-2183027-removebg-preview.png");
	background-repeat: no-repeat;
	background-size: 40rem;
	background-position: top;

	/* flex */
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-direction: column;

	text-align: center;
	padding-bottom: 6rem;
}

.our-story p {
	margin-top: 1.2rem;
	font-size: 1.1rem;
}

.learn-more {
	margin-top: 1rem;
}
